version: '3.3'
services:
  db:
    image: mysql:8.0.15
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    volumes:
      - ./sql-scripts/init.sql:/docker-entrypoint-initdb.d/01-init.sql